<div id="main-content">
  <h1>Welcome to Our Horror Movies Fan Page!</h1>
<div class="container">
<div class="row">
  <div class="col-md-4">
  <p class="pt-4">Built by horror movie fans, for horror movie fans! <br />
  Come check out our list of quality movies, and vote for your favorite.<br />
  Or take a chance and browse movies that are so bad, they’re good!<br />
  </p>
</div>
  <div class="col-md-8">
  <img src="https://i.imgur.com/7MXKmqW.jpg" id="haunted-house" alt="spooky landscape" />
  </div>
</div>
</div>
</div>