<div id="main-content">
  <h1>So bad, they are awesome!</h1>
<div class="container">
<div class="row">
  <div class="col-md-4">
<img src="https://i.imgur.com/jJciFnd.jpg" id="maxO" alt="cover art for Maximum Overdrive"/>
 </div>
  <div class="col-md-8">
  <p class="pt-4">Horror movies are classically B-movies, with low budgets, terrible acting, and ridiculous scripts.  Many filmmakers get their starts with horror movies because they are an easy entry into the film industry.  Even though a lot of garbage is released, there is something to be said for sitting around laughing at a bad movie.  Even though they might not win any awards, some movies are great to put on, grab a beer, and laugh at the costumes and silly acting.  Here is a selection of our favorites.  Please vote for your favorites and we will write an article about the winner!</p>
  <form action="#" method="GET">
      <select name="vote" id="chooseMovie">
  <option value=" "></option>
          <option value="Manos: Hands of Fate">Manos:Hands of Fate</option>
          <option value="Troll 2">Trolls 2</option>
          <option value="Leprechaun">Leprechaun</option>
          <option value="Maximum Overdrive">Maximum Overdrive</option>
      </select>
      <input class="btn-primary px-2" type="submit" value="VOTE" id="voteButton">
  </form>
</div>
</div>
<div id="chosenMovie">

</div>